body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: inherit;
    box-sizing: border-box;
    padding: 0px;
    margin-bottom: 70px;
    margin-bottom: 70px;
}

div {
    text-align: center;
    background: #fff;
}

.text-header {
    text-align: left;
    font-size: 18px;
    padding: 12px;
    height: 100%;
    background-color: antiquewhite;
    color: #111;
    font-family: "Times New Roman";
    -webkit-text-stroke: skyblue 0.3px;
}

.logo {
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite;
    height: 50px;
}

.body-kioska {
    text-align: center;
    padding-top: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    font-size: 30px;
    background-color: antiquewhite;
    border-radius: 30px;
}

#login-kioska {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    color: black;
    font-family: "Times New Roman";
}

.Head {
    position: fixed;
    height: 70px;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    border: solid 10px orange;
    background-color: antiquewhite;
}

.Foot {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 25px;
    border-top: solid 10px orange;
    text-align: right;
    font-size: 12px;
    color: black;
    -webkit-text-stroke: orange 0.3px;
    font-family: "Times New Roman";
    font-weight: bolder;
    padding-top: 0px;
}
